<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>إيميل تحذيري الى مدير النظام</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;"> 
    <img src="D:/University/5th_year/Graduation/Git Project/fastapi_application/assets/images/logo.png" alt="Basit Logo" style="max-width: 100px;">
        </div>
        <h1>تحذير الى مدير النظام</h1>
        <p>عزيزي مدير النظام,</p>
        <p>هناك يوزر لديه نية <strong>الانتحار</strong> بينما كان يتحدّث مع "بسيط"</p>
        <div style="margin-top: 20px; padding: 10px; background-color: #ffcccb; border: 1px solid #f00; border-radius: 5px;">
            <p>اسم المستخدم: {{ user_name }}</p>
            <p>النية <strong> Suicide </strong></p>
            <p> الرسالة المرسلة: {{ user_message }} </p>
        </div>
        <p>هذا البريد الألكتروني هام جدا، يرجى اتخاذ الإجراء المناسب</p>
        <p>مرحبا بك في بسيطة - حيث نسعى الى رعياتك نفسيا </p>
    </div>
</body>
</html>
