<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Warrning Email</title>
</head>
<body style="font-family: Arial, sans-serif; margin: 0; padding: 0;"> 
    <img src="D:/University/5th_year/Graduation/Git Project/fastapi_application/assets/images/logo.png" alt="Basit Logo" style="max-width: 100px;">
        </div>
        <h1>Admin Warning Email</h1>
        <p>Hello Admin,</p>
        <p>A user has Intnet of <strong>Suicide</strong> while chatting with Basit.</p>
        <div style="margin-top: 20px; padding: 10px; background-color: #ffcccb; border: 1px solid #f00; border-radius: 5px;">
            <p>Username: {{ user_name }}</p>
            <p>Intent: <strong> Suicide </strong></p>
        </div>
        <p>This is an important notification. Please take appropriate action.</p>
        <p>Welcome to Basita - where we care about mental healt!</p>
    </div>
</body>
</html>
